# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        runner: [macos-latest, ubuntu-24.04, ubuntu-22.04, ubuntu-24.04-arm]
    name: Test on ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'true'
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
